doctype html
html
  head
    title RiceKaraoke + HTML5 Audio Player
    //- JavaScript Vendor
    script(type='text/javascript', src='assets/js/vendor/ricekaraoke.js')
    script(type='text/javascript', src='assets/js/vendor/simplekaraokedisplay.js')
  body
    h1 RiceKaraoke + HTML5 Audio Player
    h3 Just test
    audio#audio-player(controls='')
    script(src='js/app.js')